body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vertical-align {
  min-height: 100vh;
  display: flex;
  width: 100%;
  align-items: center;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loading {
  background-color: #fff;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../img/loader.gif") center no-repeat #fff;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);
  height: 100vh;
  width: 100vw;
  z-index: 2000;
}

